node-red/x86_64/flows.json
[{"id":"1807c62d.76f902","type":"tab","label":"Telegram BOT","disabled":false,"info":""},{"id":"b7506c5.56fef9","type":"tab","label":"HTTP","disabled":false,"info":""},{"id":"2d5db759.28c76","type":"tab","label":"Twitter BOT","disabled":false,"info":""},{"id":"6b3235cc.4ec074","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"cdf6d60.3383f28","type":"hue-bridge","name":"Philips hue","bridge":"192.168.1.40","key":"-lyjoRhmVQkVaCpKQC4-tNZj4LVgAKqVjaQ-m59d","interval":"3000","disableupdates":false},{"id":"f9b53a4e.f388a","type":"telegram bot","botname":"fba_iot_tfm_2020_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":true},{"id":"f1f87795.0ff6","type":"bigmongo","uri":"mongodb://mongo:27017","name":"MongoDB","options":"","parallelism":"-1","warncodes":"","ignoredcodes":""},{"id":"6df1be65.acf558","type":"twitter-credentials","screen_name":"francisc0net"},{"id":"e481b0ae.2fe118","type":"mqtt-broker","name":"MQTT","broker":"mqtt_broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7ab21b5.1d29de4","type":"telegram receiver","z":"1807c62d.76f902","name":"Escribir anuncio","bot":"f9b53a4e.f388a","saveDataDir":"","filterCommands":true,"x":100,"y":220,"wires":[["c86a4aa2.f7a06"],[]]},{"id":"c86a4aa2.f7a06","type":"switch","z":"1807c62d.76f902","name":"Descarta comandos","property":"payload['content']","propertyType":"msg","rules":[{"t":"cont","v":"/cambiar","vt":"str"},{"t":"cont","v":"/quiensoy","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":300,"y":220,"wires":[[],[],["660bd1dd.b97278"]]},{"id":"660bd1dd.b97278","type":"function","z":"1807c62d.76f902","name":"Preparar payload ","func":"msg.payload['show'] = true\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":220,"wires":[["2f74abcc.c16d4c","18f32885.db38c7"]]},{"id":"838bfbe3.7f659","type":"json","z":"1807c62d.76f902","name":"Convert","property":"payload","action":"","pretty":false,"x":80,"y":40,"wires":[[]]},{"id":"2f74abcc.c16d4c","type":"bigmongo in","z":"1807c62d.76f902","service":"_ext_","configNode":"f1f87795.0ff6","name":"Insertar información","collection":"nodered","operation":"insertOne","x":720,"y":220,"wires":[[],[]]},{"id":"6fcb396b.cf2cf","type":"telegram sender","z":"1807c62d.76f902","name":"Enviar mensaje de vuelta","bot":"f9b53a4e.f388a","x":930,"y":280,"wires":[[]]},{"id":"fed5388.9ba7b48","type":"telegram command","z":"1807c62d.76f902","name":"Saludo","command":"/start","bot":"f9b53a4e.f388a","strict":false,"hasresponse":true,"useRegex":false,"x":70,"y":100,"wires":[["78040d93.7d7604"],[]]},{"id":"77c58725.2fb35","type":"telegram command","z":"1807c62d.76f902","name":"Ayuda","command":"/ayuda","bot":"f9b53a4e.f388a","strict":false,"hasresponse":true,"useRegex":false,"x":70,"y":160,"wires":[["78040d93.7d7604"],[]]},{"id":"78040d93.7d7604","type":"function","z":"1807c62d.76f902","name":"Preparar payload ","func":"var content = `\nSaludos. \n\nTodos los mensajes que escribas serán publicados. \nTe recomendamos, si no lo has hecho ya, que ejecutes el comando /quiensoy para darte de alta en el sistema.\n\nPuedes introducir también alguno de los siguientes comandos:\n\n/ayuda -> Permite recuperar este mensaje.\n/quiensoy -> Te da de alta en el sistema.\n/demo -> Muestra las publicaciones visibles al público.\n/lista -> Muestra todas las publicaciones.\n/cambiar <Identificador> -> Permite hacer visible (o invisible una publicación).\n/borrar -> Borrará las publicaciones invisibles.\n/eliminar -> Borrará todas las publicaciones.\n\n`;\nmsg.payload['content'] = content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":120,"wires":[["c5bb3f55.5de27"]]},{"id":"c5bb3f55.5de27","type":"telegram sender","z":"1807c62d.76f902","name":"Enviar mensaje de vuelta","bot":"f9b53a4e.f388a","x":470,"y":120,"wires":[[]]},{"id":"18f32885.db38c7","type":"function","z":"1807c62d.76f902","name":"Preparar payload ","func":"msg.payload['content'] = \"Guardado!\"\n\nmsg.payload = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":280,"wires":[["6fcb396b.cf2cf"]]},{"id":"40e0053.85bb07c","type":"telegram command","z":"1807c62d.76f902","name":"Lista","command":"/lista","bot":"f9b53a4e.f388a","strict":false,"hasresponse":true,"useRegex":false,"x":70,"y":340,"wires":[["41ed6f5d.e5c0a"],[]]},{"id":"41ed6f5d.e5c0a","type":"function","z":"1807c62d.76f902","name":"Preparar payload","func":"msg.payload = {'chatId':msg.payload['chatId']};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":340,"wires":[["fdb32cc5.e9459"]]},{"id":"fdb32cc5.e9459","type":"bigmongo in","z":"1807c62d.76f902","service":"_ext_","configNode":"f1f87795.0ff6","name":"Recuperar información","collection":"nodered","operation":"find.toArray","x":440,"y":340,"wires":[["fbc33a1.1c4a448"],[]]},{"id":"fbc33a1.1c4a448","type":"function","z":"1807c62d.76f902","name":"Preparar payload ","func":"var output = {}\n\nfor (var i in msg.payload) {\n    if ('chatId' in output) {\n        output['content'].push(msg.payload[i]['messageId'] + \"***\" + msg.payload[i]['content'] + \"***\" + msg.payload[i]['show']);\n    }\n    else {\n        output['content'] = [msg.payload[i]['messageId'] + \"***\" + msg.payload[i]['content'] + \"***\" + msg.payload[i]['show']];\n        output['chatId'] = msg.payload[i]['chatId'];\n        output['type'] = msg.payload[i]['type'];\n        \n    }\n}\n\nvar txt = \"\";\n \nfor (var i in output['content']) {\n    items = output['content'][i].split(\"***\");\n    txt += \"Identificador: \" + items[0] + \" Habilitado: \" + items[2] + \"\\n\\n\";\n    txt += items[1] +  \"\\n\\n\";\n}\n\noutput['content'] = txt;\nmsg.payload = output;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":340,"wires":[["58324978.273f38"]]},{"id":"58324978.273f38","type":"telegram sender","z":"1807c62d.76f902","name":"Enviar mensaje de vuelta","bot":"f9b53a4e.f388a","x":890,"y":380,"wires":[[]]},{"id":"b989cf63.526f5","type":"telegram command","z":"1807c62d.76f902","name":"Cambiar","command":"/cambiar","bot":"f9b53a4e.f388a","strict":false,"hasresponse":true,"useRegex":true,"x":80,"y":480,"wires":[["dff0fdb8.6955c8"],[]]},{"id":"9cb3ae1e.2e86d8","type":"bigmongo in","z":"1807c62d.76f902","service":"_ext_","configNode":"f1f87795.0ff6","name":"Recuperar información","collection":"nodered","operation":"findOne","x":460,"y":480,"wires":[["56d3dbac.cb7acc"],[]]},{"id":"dff0fdb8.6955c8","type":"function","z":"1807c62d.76f902","name":"Preparar payload","func":"msg.payload = {'chatId':msg.payload['chatId'], 'messageId': parseInt(msg.payload['content'].trimLeft(\" \").split(\" \")[0])};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":480,"wires":[["9cb3ae1e.2e86d8"]]},{"id":"48edbb96.22d7a4","type":"telegram command","z":"1807c62d.76f902","name":"Demo","command":"/demo","bot":"f9b53a4e.f388a","strict":false,"hasresponse":true,"useRegex":false,"x":70,"y":420,"wires":[["db4c826b.4d96b"],[]]},{"id":"db4c826b.4d96b","type":"function","z":"1807c62d.76f902","name":"Preparar payload","func":"msg.payload = {'chatId':msg.payload['chatId']};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":420,"wires":[["6172fa46.924604"]]},{"id":"6172fa46.924604","type":"bigmongo in","z":"1807c62d.76f902","service":"_ext_","configNode":"f1f87795.0ff6","name":"Recuperar información","collection":"nodered","operation":"find.toArray","x":440,"y":420,"wires":[["39db67e0.5e2d28"],[]]},{"id":"39db67e0.5e2d28","type":"function","z":"1807c62d.76f902","name":"Preparar payload ","func":"var output = {}\n\nfor (var i in msg.payload) {\n    if ('chatId' in output) {\n        if (msg.payload[i]['show'] == true)\n            output['content'].push(msg.payload[i]['messageId'] + \"***\" + msg.payload[i]['content'] + \"***\" + msg.payload[i]['show']);\n    }\n    else {\n        if (msg.payload[i]['show'] == true)\n            output['content'] = [msg.payload[i]['messageId'] + \"***\" + msg.payload[i]['content'] + \"***\" + msg.payload[i]['show']];\n        else\n            output['content'] = []\n        output['chatId'] = msg.payload[i]['chatId'];\n        output['type'] = msg.payload[i]['type'];\n        \n    }\n}\n\n\nvar txt = \"\"\n\nfor (var i in output['content']) {\n    items = output['content'][i].split(\"***\");\n    txt += \"Identificador: \" + items[0] + \" Habilitado: \" + items[2] + \"\\n\\n\";\n    txt += items[1] +  \"\\n\\n\";\n}\n\nif (txt == \"\") {\n    txt = \"Nada que mostrar...\"\n}\noutput['content'] = txt;\nmsg.payload = output;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":420,"wires":[["58324978.273f38"]]},{"id":"56d3dbac.cb7acc","type":"function","z":"1807c62d.76f902","name":"Preparar payload","func":"msg.payload = [msg.payload, {\"$set\": {\"show\": !msg.payload[\"show\"]}}];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":480,"wires":[["c2912568.8651d8","7471f355.70f014"]]},{"id":"c2912568.8651d8","type":"bigmongo in","z":"1807c62d.76f902","service":"_ext_","configNode":"f1f87795.0ff6","name":"Actualizar información","collection":"nodered","operation":"updateOne","x":880,"y":480,"wires":[[],[]]},{"id":"1b0b982.fd98f68","type":"telegram command","z":"1807c62d.76f902","name":"Borrar","command":"/eliminar","bot":"f9b53a4e.f388a","strict":false,"hasresponse":true,"useRegex":false,"x":70,"y":540,"wires":[["324f5028.a4c83"],[]]},{"id":"f45b3f12.fe24a","type":"bigmongo in","z":"1807c62d.76f902","service":"_ext_","configNode":"f1f87795.0ff6","name":"Eliminar información","collection":"nodered","operation":"removeMany","x":440,"y":540,"wires":[["7471f355.70f014"],[]]},{"id":"324f5028.a4c83","type":"function","z":"1807c62d.76f902","name":"Preparar payload","func":"msg.payload = msg.payload = {'chatId':msg.payload['chatId']};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":540,"wires":[["f45b3f12.fe24a"]]},{"id":"851dcee4.f7129","type":"telegram command","z":"1807c62d.76f902","name":"Borrar Parcial","command":"/borrar","bot":"f9b53a4e.f388a","strict":false,"hasresponse":true,"useRegex":false,"x":90,"y":600,"wires":[["117412b2.1170f5"],[]]},{"id":"4bdb893.7c41778","type":"bigmongo in","z":"1807c62d.76f902","service":"_ext_","configNode":"f1f87795.0ff6","name":"Eliminar información","collection":"nodered","operation":"removeMany","x":480,"y":600,"wires":[["7471f355.70f014"],[]]},{"id":"117412b2.1170f5","type":"function","z":"1807c62d.76f902","name":"Preparar payload","func":"msg.payload = msg.payload = {'chatId':msg.payload['chatId'], 'show': false};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":600,"wires":[["4bdb893.7c41778"]]},{"id":"730259e7.8f6078","type":"telegram command","z":"1807c62d.76f902","name":"Quién soy","command":"/quiensoy","bot":"f9b53a4e.f388a","strict":false,"hasresponse":true,"useRegex":false,"x":80,"y":660,"wires":[["a2a48dda.d930d8"],[]]},{"id":"ff4dc2cb.105648","type":"bigmongo in","z":"1807c62d.76f902","service":"_ext_","configNode":"f1f87795.0ff6","name":"Dar de alta","collection":"users","operation":"updateOne","x":430,"y":660,"wires":[[],[]]},{"id":"a2a48dda.d930d8","type":"function","z":"1807c62d.76f902","name":"Preparar payload","func":"msg.payload = {'id':msg.payload['chatId'], 'user': msg.payload['content'].trimLeft(\" \")};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":660,"wires":[["ff4dc2cb.105648","28fb78a4.257918"]]},{"id":"f658ee45.e7359","type":"twitter in","z":"2d5db759.28c76","d":true,"twitter":"6df1be65.acf558","tags":"#THEBEST","user":"false","name":"Búsqueda de tweets","inputs":0,"x":110,"y":40,"wires":[["d3ecf008.238fb8","65433641.f799c"]]},{"id":"d3ecf008.238fb8","type":"function","z":"2d5db759.28c76","name":"Búsqueda de servicio","func":"tweet = msg.payload\nmsg.payload = {'content': msg, 'tweetId': 'null', 'show': true}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":40,"wires":[["1d051224.daa436"]]},{"id":"be7834e0.49de18","type":"inject","z":"2d5db759.28c76","name":"Eliminar tweets","props":[{"p":"payload"}],"repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":100,"wires":[["7dc1fcc3.8d5af4"]]},{"id":"7f171966.b4f7d8","type":"bigmongo in","z":"2d5db759.28c76","service":"_ext_","configNode":"f1f87795.0ff6","name":"Eliminar tweets","collection":"twitter","operation":"deleteMany","x":560,"y":100,"wires":[[],[]]},{"id":"7dc1fcc3.8d5af4","type":"function","z":"2d5db759.28c76","name":"Incluir marca de tiempo","func":"msg.payload = { \"date\": { \"$lt\": parseInt(Date.now() / 1000)-(60*60*24*7) }} \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":100,"wires":[["7f171966.b4f7d8"]]},{"id":"1d051224.daa436","type":"function","z":"2d5db759.28c76","name":"Incluir marca de tiempo","func":"msg.payload['date'] = parseInt(Date.now() / 1000);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":40,"wires":[["13f66c88.0b11db"]]},{"id":"13f66c88.0b11db","type":"bigmongo in","z":"2d5db759.28c76","service":"_ext_","configNode":"f1f87795.0ff6","name":"Insertar tweet","collection":"twitter","operation":"insertOne","x":820,"y":80,"wires":[[],[]]},{"id":"28fb78a4.257918","type":"function","z":"1807c62d.76f902","name":"Preparar payload","func":"msg.payload = {\"type\": \"message\", \"content\":\"Tu Identificador de usuario es: \"+msg.payload['id']+\"\\n\\n Ya estás dado de alta en el sistema.\", 'chatId': msg.payload['id']}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":720,"wires":[["904d9f2d.5c4188"]]},{"id":"904d9f2d.5c4188","type":"telegram sender","z":"1807c62d.76f902","name":"Enviar mensaje de vuelta","bot":"f9b53a4e.f388a","x":670,"y":720,"wires":[[]]},{"id":"c5506125.aa25d8","type":"function","z":"b7506c5.56fef9","name":"Preparar payload ","func":"msg.payload['show'] = true\nmsg.payload['date'] = parseInt(Date.now() / 1000);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":200,"wires":[["c1d5ba30.284dc8","d18fc257.0385c"]]},{"id":"9ecbe717.0a0f2","type":"function","z":"b7506c5.56fef9","name":"Preparar payload ","func":"var content = `\nSaludos. \n\nLos servicios disponibles son los siguientes:\n\n/ayuda -> Permite recuperar este mensaje.\n/publish -> Permite publicar un anuncio.\n\n{\"chatId\": <Identificador de usuario>,\"content\": <Anuncio>, \"messageId\": <Identificador de mensaje>}\n\n/lista -> Muestra todas las publicaciones.\n\n{\"chatId\": <Identificador de usuario>}\n\n/cambiar -> Permite hacer visible (o invisible una publicación).\n\n{\"chatId\": <Identificador de usuario>, \"messageId\": <Identificador de mensaje>}\n\n/borrar -> Borrará las publicaciones invisibles.\n\n{\"chatId\": <Identificador de usuario>\n\n/eliminar -> Borrará todas las publicaciones.\n\nEl modelo de datos en todos los casos es el siguiente:\n\n{\"chatId\": <Identificador de usuarior>,\"type\":\"message\",\"content\": <Publicación|Identificador de mensaje>}\n`;\nmsg.payload['content'] = content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":140,"wires":[["783fc470.b6a5ac"]]},{"id":"c1d5ba30.284dc8","type":"function","z":"b7506c5.56fef9","name":"Preparar payload ","func":"msg.payload['content'] = \"Guardado!\"\n\nmsg.payload = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":260,"wires":[["887c11e.615fff"]]},{"id":"6cd4744a.23324c","type":"function","z":"b7506c5.56fef9","name":"Preparar payload","func":"msg.payload = {'chatId':msg.payload['chatId']};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":320,"wires":[["b6b7e047.cd9db"]]},{"id":"b6b7e047.cd9db","type":"bigmongo in","z":"b7506c5.56fef9","service":"_ext_","configNode":"f1f87795.0ff6","name":"Recuperar información","collection":"nodered","operation":"find.toArray","x":450,"y":320,"wires":[["b4035a29.eea1f"],[]]},{"id":"d82f6a68.5675a8","type":"bigmongo in","z":"b7506c5.56fef9","service":"_ext_","configNode":"f1f87795.0ff6","name":"Recuperar información","collection":"nodered","operation":"findOne","x":470,"y":380,"wires":[["f938ac6f.0bda58"],[]]},{"id":"a7b753a1.f3089","type":"function","z":"b7506c5.56fef9","name":"Preparar payload","func":"msg.payload = {'chatId':msg.payload['chatId'], 'messageId': msg.payload['messageId']};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":380,"wires":[["d82f6a68.5675a8"]]},{"id":"f938ac6f.0bda58","type":"function","z":"b7506c5.56fef9","name":"Preparar payload","func":"msg.payload = [msg.payload, {\"$set\": {\"show\": !msg.payload[\"show\"]}}];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":380,"wires":[["a8fab4c3.4f8be","a4307990.a25bd8"]]},{"id":"532f98ff.ed8f98","type":"bigmongo in","z":"b7506c5.56fef9","service":"_ext_","configNode":"f1f87795.0ff6","name":"Eliminar información","collection":"nodered","operation":"removeMany","x":440,"y":440,"wires":[[],[]]},{"id":"416ebaf1.0651b4","type":"function","z":"b7506c5.56fef9","name":"Preparar payload","func":"msg.payload = msg.payload = {'chatId':msg.payload['chatId']};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":440,"wires":[["532f98ff.ed8f98","f2ade33f.2788b8"]]},{"id":"aa73df8d.79f788","type":"http in","z":"b7506c5.56fef9","name":"Ayuda","url":"/ayuda","method":"get","upload":false,"swaggerDoc":"","x":70,"y":140,"wires":[["9ecbe717.0a0f2"]]},{"id":"d669cf0d.27ada","type":"http in","z":"b7506c5.56fef9","name":"Escribir anuncio","url":"/publish","method":"post","upload":false,"swaggerDoc":"","x":100,"y":200,"wires":[["c5506125.aa25d8"]]},{"id":"29ab8a2b.9f3ee6","type":"http in","z":"b7506c5.56fef9","name":"Lista","url":"/lista","method":"post","upload":false,"swaggerDoc":"","x":70,"y":320,"wires":[["6cd4744a.23324c"]]},{"id":"19000ab5.e4c335","type":"http in","z":"b7506c5.56fef9","name":"Cambiar","url":"/cambiar","method":"put","upload":false,"swaggerDoc":"","x":80,"y":380,"wires":[["a7b753a1.f3089"]]},{"id":"cb0bc4a0.c609f8","type":"http in","z":"b7506c5.56fef9","name":"Borrar","url":"/eliminar","method":"delete","upload":false,"swaggerDoc":"","x":70,"y":440,"wires":[["416ebaf1.0651b4"]]},{"id":"b352b9db.b9b0a","type":"bigmongo in","z":"b7506c5.56fef9","service":"_ext_","configNode":"f1f87795.0ff6","name":"Eliminar información","collection":"nodered","operation":"removeMany","x":480,"y":540,"wires":[[],[]]},{"id":"e3894539.9c768","type":"function","z":"b7506c5.56fef9","name":"Preparar payload","func":"msg.payload = msg.payload = {'chatId':msg.payload['chatId'], 'show': false};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":540,"wires":[["b352b9db.b9b0a","f2ade33f.2788b8"]]},{"id":"2615ccaa.2ea6ec","type":"http in","z":"b7506c5.56fef9","name":"Borrar parcial","url":"/borrar","method":"delete","upload":false,"swaggerDoc":"","x":90,"y":540,"wires":[["e3894539.9c768"]]},{"id":"d18fc257.0385c","type":"bigmongo in","z":"b7506c5.56fef9","service":"_ext_","configNode":"f1f87795.0ff6","name":"Insertar información","collection":"nodered","operation":"insertOne","x":500,"y":200,"wires":[[],[]]},{"id":"783fc470.b6a5ac","type":"http response","z":"b7506c5.56fef9","name":"Respuesta","statusCode":"200","headers":{},"x":450,"y":140,"wires":[]},{"id":"887c11e.615fff","type":"http response","z":"b7506c5.56fef9","name":"Respuesta","statusCode":"201","headers":{},"x":670,"y":260,"wires":[]},{"id":"b4035a29.eea1f","type":"http response","z":"b7506c5.56fef9","name":"Respuesta","statusCode":"200","headers":{},"x":650,"y":320,"wires":[]},{"id":"a8fab4c3.4f8be","type":"http response","z":"b7506c5.56fef9","name":"Respuesta","statusCode":"206","headers":{},"x":890,"y":320,"wires":[]},{"id":"f2ade33f.2788b8","type":"http response","z":"b7506c5.56fef9","name":"Respuesta","statusCode":"204","headers":{},"x":650,"y":480,"wires":[]},{"id":"d218dbf5.a24a18","type":"mqtt in","z":"6b3235cc.4ec074","name":"MQTT_IN","topic":"sensor","qos":"2","datatype":"json","broker":"e481b0ae.2fe118","x":110,"y":80,"wires":[["e1c7c6d4.24aff","41308318.1af6ec"]]},{"id":"41308318.1af6ec","type":"function","z":"6b3235cc.4ec074","name":"Incluir marca de tiempo","func":"msg.payload[\"date\"] = parseInt(Date.now() / 1000);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":140,"wires":[["6b157417.79119c"]]},{"id":"6b157417.79119c","type":"bigmongo in","z":"6b3235cc.4ec074","service":"_ext_","configNode":"f1f87795.0ff6","name":"Insertar información","collection":"mqtt","operation":"insertOne","x":580,"y":140,"wires":[[],[]]},{"id":"e1c7c6d4.24aff","type":"bigmongo in","z":"6b3235cc.4ec074","service":"_ext_","configNode":"f1f87795.0ff6","name":"Eliminar información","collection":"mqtt","operation":"removeMany","x":320,"y":80,"wires":[[],[]]},{"id":"7471f355.70f014","type":"function","z":"1807c62d.76f902","name":"Preparar payload","func":"msg.payload = {\"type\": \"message\", \"content\":\"Hecho.\\n\\n Ejecuta el comando /demo o /lista para ver los cambios realizados.\", 'chatId': msg.payload['id']}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":560,"wires":[["1934a692.6cd689"]]},{"id":"1934a692.6cd689","type":"telegram sender","z":"1807c62d.76f902","name":"Enviar mensaje de vuelta","bot":"f9b53a4e.f388a","x":970,"y":560,"wires":[[]]},{"id":"a4307990.a25bd8","type":"bigmongo in","z":"b7506c5.56fef9","service":"_ext_","configNode":"f1f87795.0ff6","name":"Actualizar información","collection":"nodered","operation":"updateOne","x":920,"y":380,"wires":[[],[]]},{"id":"65433641.f799c","type":"debug","z":"2d5db759.28c76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":280,"y":260,"wires":[]}]