node-red/data/flows.json
[{"id":"1807c62d.76f902","type":"tab","label":"Telegram BOT","disabled":false,"info":""},{"id":"7ab21b5.1d29de4","type":"telegram receiver","z":"1807c62d.76f902","name":"Escribir anuncio","bot":"f9b53a4e.f388a","saveDataDir":"","filterCommands":true,"x":80,"y":220,"wires":[["c86a4aa2.f7a06"],[]]},{"id":"c86a4aa2.f7a06","type":"switch","z":"1807c62d.76f902","name":"Descarta comandos","property":"payload['content']","propertyType":"msg","rules":[{"t":"cont","v":"/cambiar","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":280,"y":220,"wires":[[],["660bd1dd.b97278"]]},{"id":"660bd1dd.b97278","type":"function","z":"1807c62d.76f902","name":"Preparar payload ","func":"msg.payload['show'] = true\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":220,"wires":[["2f74abcc.c16d4c","18f32885.db38c7"]]},{"id":"838bfbe3.7f659","type":"json","z":"1807c62d.76f902","name":"Convert","property":"payload","action":"","pretty":false,"x":60,"y":40,"wires":[[]]},{"id":"2f74abcc.c16d4c","type":"bigmongo in","z":"1807c62d.76f902","service":"_ext_","configNode":"f1f87795.0ff6","name":"Insertar información","collection":"nodered","operation":"insertOne","x":700,"y":220,"wires":[[],[]]},{"id":"6fcb396b.cf2cf","type":"telegram sender","z":"1807c62d.76f902","name":"Enviar mensaje de vuelta","bot":"f9b53a4e.f388a","x":910,"y":280,"wires":[[]]},{"id":"fed5388.9ba7b48","type":"telegram command","z":"1807c62d.76f902","name":"Saludo","command":"/start","bot":"f9b53a4e.f388a","strict":false,"hasresponse":true,"useRegex":false,"x":50,"y":100,"wires":[["78040d93.7d7604"],[]]},{"id":"77c58725.2fb35","type":"telegram command","z":"1807c62d.76f902","name":"Ayuda","command":"/ayuda","bot":"f9b53a4e.f388a","strict":false,"hasresponse":true,"useRegex":false,"x":50,"y":160,"wires":[["78040d93.7d7604"],[]]},{"id":"78040d93.7d7604","type":"function","z":"1807c62d.76f902","name":"Preparar payload ","func":"msg.payload['content'] = \"Saludos. Esta es la ayuda.\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":120,"wires":[["c5bb3f55.5de27"]]},{"id":"c5bb3f55.5de27","type":"telegram sender","z":"1807c62d.76f902","name":"Enviar mensaje de vuelta","bot":"f9b53a4e.f388a","x":450,"y":120,"wires":[[]]},{"id":"18f32885.db38c7","type":"function","z":"1807c62d.76f902","name":"Preparar payload ","func":"msg.payload['content'] = \"Guardado!\"\n\nmsg.payload = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":280,"wires":[["6fcb396b.cf2cf"]]},{"id":"40e0053.85bb07c","type":"telegram command","z":"1807c62d.76f902","name":"Lista","command":"/lista","bot":"f9b53a4e.f388a","strict":false,"hasresponse":true,"useRegex":false,"x":50,"y":340,"wires":[["41ed6f5d.e5c0a"],[]]},{"id":"41ed6f5d.e5c0a","type":"function","z":"1807c62d.76f902","name":"Preparar payload","func":"msg.payload = {'chatId':msg.payload['chatId']};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":340,"wires":[["fdb32cc5.e9459"]]},{"id":"fdb32cc5.e9459","type":"bigmongo in","z":"1807c62d.76f902","service":"_ext_","configNode":"f1f87795.0ff6","name":"Recuperar información","collection":"nodered","operation":"find.toArray","x":420,"y":340,"wires":[["fbc33a1.1c4a448"],[]]},{"id":"fbc33a1.1c4a448","type":"function","z":"1807c62d.76f902","name":"Preparar payload ","func":"var output = {}\n\nfor (var i in msg.payload) {\n    if ('chatId' in output) {\n        output['content'].push(msg.payload[i]['messageId'] + \"***\" + msg.payload[i]['content'] + \"***\" + msg.payload[i]['show']);\n    }\n    else {\n        output['content'] = [msg.payload[i]['messageId'] + \"***\" + msg.payload[i]['content'] + \"***\" + msg.payload[i]['show']];\n        output['chatId'] = msg.payload[i]['chatId'];\n        output['type'] = msg.payload[i]['type'];\n        \n    }\n}\n\nvar txt = \"\";\n \nfor (var i in output['content']) {\n    items = output['content'][i].split(\"***\");\n    txt += \"Identificador: \" + items[0] + \" Habilitado:\" + items[2] + \"\\n\\n\";\n    txt += items[1] +  \"\\n\\n\";\n}\n\noutput['content'] = txt;\nmsg.payload = output;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":340,"wires":[["58324978.273f38"]]},{"id":"58324978.273f38","type":"telegram sender","z":"1807c62d.76f902","name":"Enviar mensaje de vuelta","bot":"f9b53a4e.f388a","x":870,"y":380,"wires":[[]]},{"id":"b989cf63.526f5","type":"telegram command","z":"1807c62d.76f902","name":"Cambiar","command":"/cambiar","bot":"f9b53a4e.f388a","strict":false,"hasresponse":true,"useRegex":true,"x":60,"y":480,"wires":[["dff0fdb8.6955c8"],[]]},{"id":"9cb3ae1e.2e86d8","type":"bigmongo in","z":"1807c62d.76f902","service":"_ext_","configNode":"f1f87795.0ff6","name":"Recuperar información","collection":"nodered","operation":"findOne","x":440,"y":480,"wires":[["56d3dbac.cb7acc"],[]]},{"id":"dff0fdb8.6955c8","type":"function","z":"1807c62d.76f902","name":"Preparar payload","func":"msg.payload = {'chatId':msg.payload['chatId'], 'messageId': parseInt(msg.payload['content'].trimLeft(\" \").split(\" \")[0])};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":480,"wires":[["9cb3ae1e.2e86d8"]]},{"id":"48edbb96.22d7a4","type":"telegram command","z":"1807c62d.76f902","name":"Demo","command":"/demo","bot":"f9b53a4e.f388a","strict":false,"hasresponse":true,"useRegex":false,"x":50,"y":420,"wires":[["db4c826b.4d96b"],[]]},{"id":"db4c826b.4d96b","type":"function","z":"1807c62d.76f902","name":"Preparar payload","func":"msg.payload = {'chatId':msg.payload['chatId']};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":420,"wires":[["6172fa46.924604"]]},{"id":"6172fa46.924604","type":"bigmongo in","z":"1807c62d.76f902","service":"_ext_","configNode":"f1f87795.0ff6","name":"Recuperar información","collection":"nodered","operation":"find.toArray","x":420,"y":420,"wires":[["39db67e0.5e2d28"],[]]},{"id":"39db67e0.5e2d28","type":"function","z":"1807c62d.76f902","name":"Preparar payload ","func":"var output = {}\n\nfor (var i in msg.payload) {\n    if ('chatId' in output) {\n        if (msg.payload[i]['show'] == true)\n            output['content'].push(msg.payload[i]['messageId'] + \"***\" + msg.payload[i]['content'] + \"***\" + msg.payload[i]['show']);\n    }\n    else {\n        if (msg.payload[i]['show'] == true)\n            output['content'] = [msg.payload[i]['messageId'] + \"***\" + msg.payload[i]['content'] + \"***\" + msg.payload[i]['show']];\n        else\n            output['content'] = []\n        output['chatId'] = msg.payload[i]['chatId'];\n        output['type'] = msg.payload[i]['type'];\n        \n    }\n}\n\n\nvar txt = \"\"\n\nfor (var i in output['content']) {\n    items = output['content'][i].split(\"***\");\n    txt += \"Identificador: \" + items[0] + \" Habilitado:\" + items[2] + \"\\n\\n\";\n    txt += items[1] +  \"\\n\\n\";\n}\n\nif (txt == \"\") {\n    txt = \"Nada que mostrar...\"\n}\noutput['content'] = txt;\nmsg.payload = output;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":420,"wires":[["58324978.273f38"]]},{"id":"56d3dbac.cb7acc","type":"function","z":"1807c62d.76f902","name":"Preparar payload","func":"msg.payload = [msg.payload, {\"$set\": {\"show\": !msg.payload[\"show\"]}}];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":480,"wires":[["c2912568.8651d8"]]},{"id":"c2912568.8651d8","type":"bigmongo in","z":"1807c62d.76f902","service":"_ext_","configNode":"f1f87795.0ff6","name":"Actualizar información","collection":"nodered","operation":"updateOne","x":860,"y":480,"wires":[[],[]]},{"id":"1b0b982.fd98f68","type":"telegram command","z":"1807c62d.76f902","name":"Borrar","command":"/eliminar","bot":"f9b53a4e.f388a","strict":false,"hasresponse":true,"useRegex":false,"x":50,"y":540,"wires":[["324f5028.a4c83"],[]]},{"id":"f45b3f12.fe24a","type":"bigmongo in","z":"1807c62d.76f902","service":"_ext_","configNode":"f1f87795.0ff6","name":"Eliminar información","collection":"nodered","operation":"removeMany","x":420,"y":540,"wires":[[],[]]},{"id":"324f5028.a4c83","type":"function","z":"1807c62d.76f902","name":"Preparar payload","func":"msg.payload = msg.payload = {'chatId':msg.payload['chatId']};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":540,"wires":[["f45b3f12.fe24a"]]},{"id":"851dcee4.f7129","type":"telegram command","z":"1807c62d.76f902","name":"Borrar Parcial","command":"/borrar","bot":"f9b53a4e.f388a","strict":false,"hasresponse":true,"useRegex":false,"x":70,"y":600,"wires":[["117412b2.1170f5"],[]]},{"id":"4bdb893.7c41778","type":"bigmongo in","z":"1807c62d.76f902","service":"_ext_","configNode":"f1f87795.0ff6","name":"Eliminar información","collection":"nodered","operation":"removeMany","x":460,"y":600,"wires":[[],[]]},{"id":"117412b2.1170f5","type":"function","z":"1807c62d.76f902","name":"Preparar payload","func":"msg.payload = msg.payload = {'chatId':msg.payload['chatId'], 'show': false};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":600,"wires":[["4bdb893.7c41778"]]},{"id":"f9b53a4e.f388a","type":"telegram bot","z":"","botname":"fba_iot_tfm_2020_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":true},{"id":"f1f87795.0ff6","type":"bigmongo","z":"","uri":"mongodb://thewhitehonet.ddns.net:60222","name":"MongoDB","options":"","parallelism":"-1","warncodes":"","ignoredcodes":""}]